<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <header>

    </header>

    <main>
        <div id="app">
            <ul>
                <li v-for="(item, index) in tooDoList" key="index">
                    <span @click="cancelItem(item)" :class="item.done === true ? 'text-line' : ''">
                        {{item.text}}
                    </span>
                    <i @click="deleteItem(index)">&cross;</i>
                </li>
            </ul>
            <input type="text" v-model="newItem" @keyup.enter="addNewItem(newItem)">
            <button @click="addNewItem(newItem)">Add to List</button>
        </div>
    </main>

    <script src="./js/script.js"></script>
</body>
</html>