<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>

    </header>

    <main>
        <div id="app">
            <div class="container">
                <ul>
                    <li v-for="(item, index) in tooDoList" key="index">
                        <span @click="cancelItem(item)" :class="item.done === true ? 'text-line' : ''">
                            {{item.text}}
                        </span>
                        <i class="fa-solid fa-delete-left" @click="deleteItem(index)"></i>
                    </li>
                </ul>
                <div>
                    <input type="text" v-model="newItem" @keyup.enter="addNewItem()">
                    <button @click="addNewItem()">Add to List</button>
                </div>
            </div>
        </div>
    </main>

    <script src="./js/script.js"></script>
</body>
</html>